@charset "utf-8"

/*! 나눔 고딕 폰트 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css)
@import "bulma.css"

@import "bulma/utilities/initial-variables"

@import "df/df-util"

@import "df/df-main"
@import "df/df-vacation"
@import "df/df-org"
@import "df/df-commuting"
@import "df/df-approval"
@import "df/df-project"
@import "df/df-weekly"
@import "df/df-booking"
@import "df/df-equipment"
@import "df/df-member"

body
  // 나눔고딕 타입
  // Regular, Bold, Extra-Bold
  font-family: 'Nanum Gothic'
  font-weight: 600

#navbar
  z-index: 50

#work-menu
  display: none
  position: fixed
  width: 100vw
  left: 0
  top: 0
  z-index: 10000
  .background
    position: absolute
    left: 0
    top: 0
    width: 100vw
    height: 100vh
    background: #000
    opacity: 0.8
  .menu
    position: absolute
    top: 0
    right: 0
    border-top: 1px solid #dbdbdb
    background: #fff
    height: 100vh
    width: 250px
    .navbar-brand
      border-bottom: 1px solid #f4f4f4
      .navbar-item
        padding-left: 1rem
    .content
      padding: 1rem
      .navbar-item
        border-bottom: 1px solid #f4f4f4
      .column
        &:first-child
          padding-right: 0.1rem
        &:nth-child(2)
          padding-left: 0.1rem
  &.is-active
    display: block
  hr
    margin: 0.5rem 0