@charset "utf-8"

/*! 나눔 고딕 폰트 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css)
@import "bulma.css"

@import "bulma/utilities/initial-variables"

@import "df/df-util"

@import "df/df-main"
@import "df/df-vacation"
@import "df/df-org"
@import "df/df-commuting"
@import "df/df-project"
@import "df/df-weekly"
@import "df/df-booking"

body
  // 나눔고딕 타입
  // Regular, Bold, Extra-Bold
  font-family: 'Nanum Gothic'
  font-weight: 600

#navbar
  z-index: 50