@charset "UTF-8";
/*! 나눔 고딕 폰트 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(bulma.css);
.df-main .card-header-title .icon {
  margin-right: 0.5rem; }
.df-main .clock {
  width: 100%;
  height: 100%;
  padding: 0.8rem; }
  .df-main .clock .area {
    height: 69%;
    background: #bbbbbb;
    margin-bottom: 2%;
    border-radius: 0.25rem;
    text-align: center; }
    .df-main .clock .area:before {
      display: inline-block;
      content: "";
      width: 1px;
      height: 100%;
      vertical-align: middle;
      margin-left: -1px; }
    .df-main .clock .area .txt {
      text-align: center;
      display: inline-block;
      vertical-align: middle; }
      .df-main .clock .area .txt .now {
        font-size: 4rem; }
      .df-main .clock .area .txt .start {
        font-size: 1rem; }
  .df-main .clock .buttons {
    height: 29%; }
    .df-main .clock .buttons .control {
      height: 100% !important; }
      .df-main .clock .buttons .control .button {
        height: 100% !important;
        padding: 1rem; }
.df-main .mobile-profile-buttons {
  position: absolute;
  bottom: 4rem; }
.df-main .birthday-profile {
  width: 28%;
  height: 28%;
  margin: 2.5%; }
  .df-main .birthday-profile span {
    display: inline-block;
    margin-top: 0.3em;
    font-size: 0.7rem;
    width: 100%;
    line-height: 1.05em; }
  .df-main .birthday-profile.mobile {
    width: 20%;
    height: 20%;
    margin: 2.5%; }

.df-vacation .is-vacation-title {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem; }
.df-vacation .box {
  box-shadow: none;
  border: 1px solid #dbdbdb;
  background: whitesmoke; }

.df-org .notification {
  border-radius: 0;
  padding: 0;
  padding-left: 0.75rem;
  overflow: hidden; }
  .df-org .notification .tag {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0; }
  .df-org .notification .column {
    padding: 0.75rem; }
    .df-org .notification .column:last-child {
      margin-top: 0.8rem; }
    .df-org .notification .column p {
      margin: 0; }
    .df-org .notification .column .is-member-phone {
      font-size: 1rem; }
    .df-org .notification .column .is-member-email {
      font-size: 0.5rem !important;
      color: #888888; }
.df-org .is-70x70 {
  height: 100px !important;
  width: 100px !important;
  border-radius: 0 !important; }
.df-org .is-team {
  position: relative; }
.df-org .is-team-title:before {
  position: absolute;
  margin-left: -20px;
  margin-top: 3px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid #363636;
  border-radius: 10px;
  content: ""; }
.df-org .is-member-depth-1 {
  margin-left: 1em;
  margin-bottom: 2rem; }
.df-org .is-member-depth-1-line {
  position: absolute;
  background-color: #dbdbdb;
  width: 1px;
  left: 0;
  top: 5px;
  height: 100%; }
.df-org .is-member .column {
  padding: 0.5rem !important; }
.df-org .is-absent {
  box-shadow: none; }
  .df-org .is-absent img {
    filter: grayscale(1); }

.modal-commuting-modify {
  min-width: 100%; }
  .modal-commuting-modify .column:first-child {
    padding-right: 0; }
  .modal-commuting-modify .column:last-child {
    padding-left: 0; }
  .modal-commuting-modify .control {
    margin-right: 0.25rem !important; }

.df-commuting .is-member {
  font-size: 0.75rem; }
  .df-commuting .is-member .first {
    width: 100px; }
  .df-commuting .is-member .name {
    width: 100px; }
  .df-commuting .is-member thead th, .df-commuting .is-member tfoot th {
    font-size: 0.5rem;
    text-align: center; }
  .df-commuting .is-member tbody td {
    text-align: center; }
.df-commuting .textarea {
  min-width: auto; }
.df-commuting .is-vacation-title {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem; }
.df-commuting .box {
  box-shadow: none;
  border: 1px solid #dbdbdb;
  background: whitesmoke; }
.df-commuting .commuting-data {
  font-size: 1rem;
  padding: 0.5rem; }
  .df-commuting .commuting-data .columns {
    background: #cccccc; }
.df-commuting .calendar .date {
  font-size: 1rem;
  align-self: flex-start;
  width: 2.5rem;
  height: 1.9rem;
  margin-left: 0;
  margin-top: 1rem; }
  @media screen and (max-width: 767px) {
    .df-commuting .calendar .date {
      margin-top: 0.8rem;
      font-size: 0.75rem;
      width: 1.5rem;
      align-self: flex-start;
      margin-left: 0.6rem; } }
.df-commuting .calendar .calendar-events {
  color: #cccccc;
  text-align: left; }
  .df-commuting .calendar .calendar-events .tag {
    border-radius: 2px;
    font-size: 0.5rem;
    vertical-align: middle;
    padding-left: 0.3em;
    padding-right: 0.3em; }
  .df-commuting .calendar .calendar-events .button {
    width: 4rem; }
  @media screen and (max-width: 767px) {
    .df-commuting .calendar .calendar-events {
      padding-top: 0rem !important; } }
.df-commuting .calendar .calendar-date.is-today {
  background: rgba(15, 159, 241, 0.25); }
.df-commuting .calendar .calendar-date.is-vacation {
  background: #e1fcca; }
.df-commuting .calendar .calendar-date.is-holiday {
  color: #f00;
  background: #fcfcfc; }
.df-commuting .calendar .calendar-date .mark {
  position: absolute;
  align-self: flex-end;
  padding: 0.75rem; }
  .df-commuting .calendar .calendar-date .mark .is-static {
    background: none !important;
    border: none !important; }
  @media screen and (max-width: 767px) {
    .df-commuting .calendar .calendar-date .mark {
      margin-top: -0.3rem;
      margin-left: 0.3rem; } }
@media screen and (max-width: 767px) {
  .df-commuting .calendar .calendar-date {
    flex-basis: 100%;
    max-width: none;
    height: auto !important;
    border-left: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-bottom: none !important; }
    .df-commuting .calendar .calendar-date.is-disabled {
      display: none; }
    .df-commuting .calendar .calendar-date.is-last {
      border-bottom: 1px solid #cdcdcd !important; } }

.df-approval .table th {
  text-align: center; }
.df-approval .table .last {
  text-align: center; }
.df-approval .table td.is-last {
  padding-bottom: 1rem !important; }

.approval-popup, .approval-popup2, .approval-popup3, .approval-popup4, .approval-popup5, .approval-popup6 {
  font-size: 12px; }
  .approval-popup td, .approval-popup th, .approval-popup2 td, .approval-popup2 th, .approval-popup3 td, .approval-popup3 th, .approval-popup4 td, .approval-popup4 th, .approval-popup5 td, .approval-popup5 th, .approval-popup6 td, .approval-popup6 th {
    vertical-align: middle; }

.df-project .modal section {
  min-width: auto; }
.df-project .modal .column-center {
  padding: 0; }
.df-project .modal .last-button {
  margin: auto; }
.df-project .modal .panel {
  border-radius: 4px !important; }
.df-project .modal .search-result {
  width: 100%;
  height: 15rem;
  overflow-y: scroll; }
  .df-project .modal .search-result .search-member {
    padding-top: 0.2rem;
    height: 2rem; }
    .df-project .modal .search-result .search-member:not(:last-child) {
      border-bottom: dotted 1px #dbdbdb; }
  @media screen and (max-width: 767px) {
    .df-project .modal .search-result {
      height: 4rem; } }
.df-project .modal .card-content {
  padding: 0.8rem; }
.df-project .modal .member-result {
  width: 100%;
  height: 17.5rem;
  overflow-x: hidden;
  overflow-y: scroll; }
  .df-project .modal .member-result p {
    padding: 0.2rem; }
  .df-project .modal .member-result .member-title {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: solid 1px #dbdbdb;
    margin-bottom: 0.5rem; }
  @media screen and (max-width: 767px) {
    .df-project .modal .member-result {
      height: 4rem; } }

.df-weekly .textarea {
  font-size: 0.75rem; }
.df-weekly .is-report td, .df-weekly .is-report th {
  font-size: 0.8rem; }
@media screen and (max-width: 767px) {
  .df-weekly .is-report thead {
    display: none; }
  .df-weekly .is-report td, .df-weekly .is-report th {
    display: block;
    border: none;
    border-bottom: 1px solid #dbdbdb; }
    .df-weekly .is-report td:first-child, .df-weekly .is-report th:first-child {
      padding: 0.3rem 0 0.3rem 0.3rem;
      font-size: 0.8rem;
      background: #dbdbdb;
      border-bottom: 1px solid #dbdbdb;
      border-top: 1px solid #000; } }

.df-booking .btn-mobile {
  padding-bottom: 1.75rem; }
.df-booking .modal-booking {
  min-width: 100%; }
  .df-booking .modal-booking .column:first-child {
    padding-right: 0; }
  .df-booking .modal-booking .column:last-child {
    padding-left: 0; }
  .df-booking .modal-booking .control {
    margin-right: 0.25rem !important; }
.df-booking table thead td {
  text-align: center;
  border-bottom: 2px solid #000; }
.df-booking table tbody td {
  text-align: center;
  font-size: 0.5rem;
  height: 2rem; }
  .df-booking table tbody td.booking {
    display: table-cell;
    border: 2px solid #fff !important;
    background: #4880db;
    color: #fff;
    text-align: left;
    font-size: 0.75rem; }
    .df-booking table tbody td.booking p {
      margin-bottom: 0; }
.df-booking table tbody tr {
  color: #dbdbdb; }
.df-booking table tbody tr:nth-child(2n  +1) {
  color: #000; }
.df-booking table tbody tr:last-child {
  border-bottom: 2px solid #000; }

.df-equipment table th {
  font-size: 0.75rem; }
.df-equipment .is-total td, .df-equipment .is-total th {
  text-align: center; }
.df-equipment .is-total .cat-device {
  font-size: 0.75rem; }
.df-equipment .is-data {
  font-size: 0.8rem; }
  .df-equipment .is-data tr {
    height: 40px; }
    .df-equipment .is-data tr td, .df-equipment .is-data tr th {
      text-align: center;
      vertical-align: middle; }
  .df-equipment .is-data .short-txt {
    font-size: 0.8rem;
    max-width: 500px; }
    .df-equipment .is-data .short-txt p {
      height: 18px;
      overflow: hidden; }

body {
  font-family: "Nanum Gothic";
  font-weight: 600; }

#navbar {
  z-index: 50; }

#work-menu {
  display: none;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 10000; }
  #work-menu .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.8; }
  #work-menu .menu {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 1px solid #dbdbdb;
    background: #fff;
    height: 100vh;
    width: 250px; }
    #work-menu .menu .navbar-brand {
      border-bottom: 1px solid #f4f4f4; }
      #work-menu .menu .navbar-brand .navbar-item {
        padding-left: 1rem; }
    #work-menu .menu .content {
      padding: 1rem; }
      #work-menu .menu .content .navbar-item {
        border-bottom: 1px solid #f4f4f4; }
      #work-menu .menu .content .column:first-child {
        padding-right: 0.1rem; }
      #work-menu .menu .content .column:nth-child(2) {
        padding-left: 0.1rem; }
  #work-menu.is-active {
    display: block; }
  #work-menu hr {
    margin: 0.5rem 0; }

/*# sourceMappingURL=work.df.css.map */
