@charset "UTF-8";
/*! 나눔 고딕 폰트 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(bulma.css);
.df-main .card-header-title .icon {
  margin-right: 0.5rem; }
.df-main .clock {
  width: 100%;
  height: 100%;
  padding: 0.8rem; }
  .df-main .clock .area {
    height: 69%;
    background: #bbbbbb;
    margin-bottom: 2%;
    border-radius: 0.25rem;
    text-align: center; }
    .df-main .clock .area:before {
      display: inline-block;
      content: "";
      width: 1px;
      height: 100%;
      vertical-align: middle;
      margin-left: -1px; }
    .df-main .clock .area .txt {
      text-align: center;
      display: inline-block;
      vertical-align: middle; }
      .df-main .clock .area .txt .now {
        font-size: 4rem; }
      .df-main .clock .area .txt .start {
        font-size: 1rem; }
  .df-main .clock .buttons {
    height: 29%; }
    .df-main .clock .buttons .control {
      height: 100% !important; }
      .df-main .clock .buttons .control .button {
        height: 100% !important;
        padding: 1rem; }
.df-main .mobile-profile-buttons {
  position: absolute;
  bottom: 4rem; }
.df-main .birthday-profile {
  width: 28%;
  height: 28%;
  margin: 2.5%; }
  .df-main .birthday-profile span {
    display: inline-block;
    margin-top: 0.3em;
    font-size: 0.7rem;
    width: 100%;
    line-height: 1.05em; }
  .df-main .birthday-profile.mobile {
    width: 20%;
    height: 20%;
    margin: 2.5%; }

.df-vacation .is-vacation-title {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem; }
.df-vacation .box {
  box-shadow: none;
  border: 1px solid #dbdbdb;
  background: whitesmoke; }

.df-org .notification {
  box-shadow: 2px 3px 5px rgba(10, 10, 10, 0.05), 0 0 0 1px rgba(10, 10, 10, 0.05);
  padding: 0;
  padding-left: 0.75rem;
  overflow: hidden; }
  .df-org .notification .tag {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0; }
  .df-org .notification .column {
    padding: 0.75rem; }
    .df-org .notification .column:last-child {
      margin-top: 0.8rem; }
    .df-org .notification .column p {
      margin: 0; }
    .df-org .notification .column .is-member-phone {
      font-size: 1rem; }
    .df-org .notification .column .is-member-email {
      font-size: 0.5rem !important;
      color: #888888; }
.df-org .is-70x70 {
  height: 100px !important;
  width: 100px !important;
  border-radius: 0 !important; }
.df-org .is-team {
  position: relative; }
.df-org .is-team-title:before {
  position: absolute;
  margin-left: -20px;
  margin-top: 3px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid #363636;
  border-radius: 10px;
  content: ""; }
.df-org .is-member-depth-1 {
  margin-left: 1em;
  margin-bottom: 2rem; }
.df-org .is-member-depth-1-line {
  position: absolute;
  background-color: #dbdbdb;
  width: 1px;
  left: 0;
  top: 5px;
  height: 100%; }
.df-org .is-member .column {
  padding: 0.5rem !important; }
.df-org .is-absent {
  box-shadow: none; }
  .df-org .is-absent img {
    filter: grayscale(1); }

.df-commuting .is-vacation-title {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem; }
.df-commuting .box {
  box-shadow: none;
  border: 1px solid #dbdbdb;
  background: whitesmoke; }
.df-commuting .commuting-data {
  font-size: 1rem;
  padding: 0.5rem; }
  .df-commuting .commuting-data .columns {
    background: #cccccc; }
.df-commuting .calendar .date {
  font-size: 1rem;
  align-self: flex-start;
  margin-left: 1rem;
  margin-top: 1rem; }
  @media screen and (max-width: 767px) {
    .df-commuting .calendar .date {
      width: 3rem;
      height: 2.8rem;
      align-self: flex-start;
      margin-left: 0; } }
.df-commuting .calendar .calendar-events {
  text-align: left; }
  .df-commuting .calendar .calendar-events .tag {
    margin: 0.1rem; }
@media screen and (max-width: 767px) {
  .df-commuting .calendar .calendar-date {
    flex-basis: 100%;
    max-width: none;
    height: auto !important;
    flex-direction: row !important;
    border-left: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-bottom: none !important; }
    .df-commuting .calendar .calendar-date.is-disabled {
      display: none; } }

body {
  font-family: "Nanum Gothic";
  font-weight: 600; }

/*# sourceMappingURL=work.df.css.map */
