/*icon*/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/*font*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);
/*  한국어 */
:lang(ko) {
    font-family: 'Noto Sans KR', sans-serif;
}
/* 일본어 */
:lang(ja) {
    /*font-family: 'Noto Sans JP', sans-serif;*/
}
/* 중국어 (간체) */
:lang(zh-Hans) {
    /*font-family: 'Noto Sans SC', sans-serif;*/
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    /*font: inherit;*/
    vertical-align: baseline;
    font-weight: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fff;
    color: #000;
}

a, a:visited, a:link, a:hover {
    text-decoration: none;
    color: inherit;
}

.blind {
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
    text-indent: -9999px !important;
    font-size: 0 !important;
    opacity: 0;
    overflow: hidden !important;
}

ul, ol{
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

button::-moz-focus-inner {
     border: 0;
     padding: 0;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

::selection {
    background: #663399; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #663399; /* Gecko Browsers */
}

.hide{
    display: none !important;
}