/*icon*/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/*font*/
//@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* https://github.com/innks/NanumSquareRound */
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 300;
  src: local("NanumSquareRoundL"), /* computer */
  url("../fonts/nanumSquareRound/NanumSquareRoundL.eot"), /* IE9 Compat Modes */
  url("../fonts/nanumSquareRound/NanumSquareRoundL.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/nanumSquareRound/NanumSquareRoundL.woff2") format("woff2"), /* Modern Browsers */
  url("../fonts/nanumSquareRound/NanumSquareRoundL.woff") format("woff"), /* Modern Browsers */
  url("../fonts/nanumSquareRound/NanumSquareRoundL.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 400;
  src: local("NanumSquareRoundR"), /* computer */
  url("../fonts/nanumSquareRound/NanumSquareRoundR.eot"), /* IE9 Compat Modes */
  url("../fonts/nanumSquareRound/NanumSquareRoundR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/nanumSquareRound/NanumSquareRoundR.woff2") format("woff2"), /* Modern Browsers */
  url("../fonts/nanumSquareRound/NanumSquareRoundR.woff") format("woff"), /* Modern Browsers */
  url("../fonts/nanumSquareRound/NanumSquareRoundR.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 700;
  src: local("NanumSquareRoundB"), /* computer */
  url("../fonts/nanumSquareRound/NanumSquareRoundB.eot"), /* IE9 Compat Modes */
  url("../fonts/nanumSquareRound/NanumSquareRoundB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/nanumSquareRound/NanumSquareRoundB.woff2") format("woff2"), /* Modern Browsers */
  url("../fonts/nanumSquareRound/NanumSquareRoundB.woff") format("woff"), /* Modern Browsers */
  url("../fonts/nanumSquareRound/NanumSquareRoundB.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 800;
  src: local("NanumSquareRoundEB"), /* computer */
  url("../fonts/nanumSquareRound/NanumSquareRoundEB.eot"), /* IE9 Compat Modes */
  url("../fonts/nanumSquareRound/NanumSquareRoundEB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/nanumSquareRound/NanumSquareRoundEB.woff2") format("woff2"), /* Modern Browsers */
  url("../fonts/nanumSquareRound/NanumSquareRoundEB.woff") format("woff"), /* Modern Browsers */
  url("../fonts/nanumSquareRound/NanumSquareRoundEB.ttf") format("truetype"); /* Safari, Android, iOS */
}

/*  KO */
:lang(ko) {
  font-family: 'NanumSquareRound', sans-serif;
}
/* Japan */
:lang(ja) {
  /*font-family: 'Noto Sans JP', sans-serif;*/
}
/* China */
:lang(zh-Hans) {
  /*font-family: 'Noto Sans SC', sans-serif;*/
}

html,
body {
  font-family: 'NanumSquareRound', sans-serif;
  font-style: normal;
  font-weight: 400;
}

