%blind {
  position: absolute !important;
  left: -9999px !important;
  top: -9999px !important;
  text-indent: -9999px !important;
  font-size: 0 !important;
  opacity: 0;
  overflow: hidden !important;
}

%flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

%flex-top-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
}

%flex-bottom-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  justify-content: center;
}
