%blind {
  position: absolute !important;
  left: -9999px !important;
  top: -9999px !important;
  text-indent: -9999px !important;
  font-size: 0 !important;
  opacity: 0;
  overflow: hidden !important;
}