// Animation
@mixin mx_transition($time, $property, $timing:"ease-out", $delay:"0"){
  transition-duration: #{ $time };
  transition-property: #{ $property };
  transition-timing-function: #{ $timing };
  transition-delay: #{ $delay };
}

@mixin mx_transform_transY($prop_opacity, $prop_y, $time:400ms) {

  opacity: $prop_opacity;

  -webkit-transform: translateY($prop_y);
  -moz-transform: translateY($prop_y);
  -ms-transform: translateY($prop_y);
  -o-transform: translateY($prop_y);
  transform: translateY($prop_y);

  @include mx_transition(#{ $time + "," $time }, "opacity, transform", "#{$vars_easeOutCubic}" );
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media screen and(min-width: $screen-lg)  {
      @content;
    }
  }
  @else if $point == tablet {
    @media screen and(max-width: $screen-lg - 1) {
      @content;
    }
  }
  @else if $point == mobile {
    @media screen and(max-width: $screen-sm - 1) {
      @content;
    }
  }
}