///********************///
///*    Break Points  *///
///********************///
$screen-xsm: 320px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xlg: 1440px;

$screen-min-height: 480px;

$vars_easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$vars_easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$vars_easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);