html, body {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: 700;
  height: 100%;
  //min-height: 700px;

  width: 100%;
  overflow: hidden;
}

.wrapper {
  header{

    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;

    .wrapper-logo{
      margin: 5vh auto 0;
      //height: 5vh;
      width: 6.25vh;
    }
  }

  main{

    @import "login/login_form";
    @import "login/login_info";
    @import "login/login_bg";

  }

  footer{
    position: absolute;
    width: 100%;
    bottom: 0;

    .wrapper-copyright{
      margin: 0 auto 1.5rem;
      text-align: center;

      .area-txt{
        font-size: 0.5rem;
      }
    }
  }
}
