.df-approval
  .table
    th
      text-align: center
    .last
      text-align: center
    td
      &.is-last
        padding-bottom: 1rem !important

.approval-popup, .approval-popup2, .approval-popup3, .approval-popup4, .approval-popup5, .approval-popup6
  font-size: 12px
  td,th
    vertical-align: middle
