.df-booking
  table
    thead
      td
        text-align: center
        border-bottom: 2px solid #000
    tbody
      td
        text-align: center
        font-size: 0.5rem
        height: 2rem
        &.booking
          border: 2px solid #fff !important
          background: #4880db
          color: #fff
          text-align: left
          font-size: 0.75rem
          p
            margin-bottom: 0
      tr
        color: #dbdbdb
      tr:nth-child(2n  +1)
        color: #000
      tr:last-child
        border-bottom: 2px solid #000