.df-commuting
  .is-vacation-title
    border-bottom: 1px solid #cdcdcd
    padding-bottom: 0.3rem
    margin-bottom: 0.5rem
  .box
    box-shadow: none
    border: 1px solid #dbdbdb
    background: $white-ter