.sec-info{
  position: absolute;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
  color: white;

  .wrapper-date{
    margin: 0 auto;
  }
  .wrapper-weather{
    margin: 0 auto;
  }
}