@media (max-height:400px) {
  //.sec-info{
  //  display: none;
  //}
}

.sec-info{
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 49%;
  overflow: hidden;

  box-sizing: border-box;
  text-align: center;
  color: white;

  @media (max-width: $screen-md) and (max-height:$screen-min-height) {
    display: none;
  }

  ul{
    width: 100%;
    height: 100%;
  }

  .wrapper-info {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;

    .wrapper-clock {
      margin: 0 auto;
      //width: 90vw;
      height: 100%;
      max-width: 49vh;
      max-height: 49vh;
      pointer-events: none;
      overflow: hidden;

      //background: rgba(255,255,255,0.1);

      .container-clock{
        //position: absolute;
        width: 100%;
        height: 100%;
        //background: #eaad9a;
      }

    }

    .wrapper-notice {
      margin: 0 auto;
      .area-txt{
        margin: 2rem 0 0;

        .txt-notice{
          font-size: 4.125rem;
          line-height: 4.375rem;
        }

        .txt-sub{
          font-size: 1.25rem;
          line-height: 1.625rem;
        }

      }
    }

    transform: translateX(100%);
    &:first-child{
      display: block;
      transform: translateX(0);
    }

    transition: transform 400ms ease-in-out;

    &.in{
      transform: translateX(0);
    }
    &.out-left{
      transform: translateX(-100%);
    }
    &.out-right{
      transform: translateX(100%);
    }
  }
}