header{
  position: relative;
  z-index: 10000;
  width: 100%;
  height: 13vh;
  min-height: 95px;
  @extend %flex-center;

  opacity: 0;
  @include mx_transition("1000ms", "opacity", "ease-out");

  &.show{
    opacity: 1;
  }

  @media (max-width: $screen-md) and (max-height:$screen-min-height) {
    height: 25%;
  }
  .wrapper-logo{
    width: 6.25vh;
    min-width: 46px;
    overflow: hidden;
    img{
      width:100%;
    }

    @media (max-width: $screen-md) and (max-height:$screen-min-height) {

    }
  }
}