.sec-login{

  position: relative;
  z-index: 1000;
  width: 100%;
  height: 21%;
  min-height: 158px;
  max-height: 200px;
  overflow: hidden;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-mask-image: -webkit-radial-gradient(white, black);


  box-sizing: border-box;
  text-align: center;

  @extend %flex-center;

  @media (max-width: $screen-md) and (max-height:$screen-min-height) {
    margin: 5% 0 0;
  }

  @include mx_transform_transY(0, -10px);

  &.#{ $vars_class_showIn }{
    @include mx_transform_transY(1, 0);
  }

  .wrapper-login{
    display: block;

    .login-form{
      width: 100%;
      margin: 0.75rem 0;

      .area-input, .area-btn {
        margin: 0 0 0.75rem;
        width: 100%;

        &.btn-login{
          width: 60%;
          min-width: auto;
          margin: 0 ;
        }

        &.btn-help {
          width: 40%;
          margin: 0 ;
        }
      }

      .round-box {
        display: block;
        overflow: hidden;
        height: 28px;
        width: 36%;
        min-width: 150px;
        max-width: 200px;
        margin: 0 auto;
        padding: 0 0.75rem;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 0.88rem;
        border: none;

        color: #000000;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: normal;
        text-align: left;

        -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);

        &.btn-submit{
          min-width: auto;
          background: #FF0000;
          color: #FFFFFF;
        }

        &.link-help{
          background: #282828;
          color: #FFFFFF;
          text-align: center;
          padding-left: 0;
          padding-right: 0;
          min-width: auto;

          display: table;

          span{
            display: table-cell;
            vertical-align: middle;
          }
        }

        &:-ms-input-placeholder {color: #8F8F8F !important;}
        &::-ms-input-placeholder {color: #8F8F8F; }
        &::-webkit-input-placeholder { color: #8F8F8F; }
        &::-moz-placeholder { color: #8F8F8F; }
        &::placeholder { color: #8F8F8F; }
      }

      .wrapper-btn{
        width: 36%;
        min-width: 150px;
        max-width: 200px;
        margin: 0 auto;

        .btn-module{
          display: inline-block;
          float: left;

          .round-box{
            width: 100%;
          }

          &.align-right{
            float: right;
            padding: 0 0 0 0.45rem;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  .wrapper-checkin{

    //width: 100%;
    width: 0;
    text-align: center;
    font-size: 0;
    opacity: 0;

    -webkit-transform: translate3d(0, -30px, 0);
    -moz-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);

    will-change: opacity, transform;

    @include mx_transition("600ms", "opacity, transform", $vars_easeOutCubic, "200ms");


    @extend %flex-center;

    .area-check-inout{
      position: relative;
      display: none;
      width: 84px;
      height: 84px;

      overflow: hidden;
      border-radius: 50% 50%;
      border: none;

      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -webkit-mask-image: -webkit-radial-gradient(white, black);
      will-change: width, opacity, transform;

      &.area-checkout{
        will-change: width, opacity, transform;
        width: 0;
        opacity: 0;
        transform: scale(0);
        .btn-wrapper{
          background: #223333;
          color: #5BA1A9;
          .time-txt{
            .txt-time{
              span{
                color: #009494;
              }
            }
          }
        }

        &.checkout-able{
          .btn-wrapper {
            background: #009494;
            color: #FFFFFF;
          }
        }
      }

      .btn-wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50% 50%;
        border: none;

        background: #FF0000;
        color: #000000;

        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -webkit-mask-image: -webkit-radial-gradient(white, black);

        form{
          will-change: transform, opacity;
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          transform: translateY(0);
          transform: translate3d(0,0,0);
          fieldset {
            width: 100%;
            height: 100%;
            .area-input {
              background: none;
              text-align: center;
              width: 100%;
              height: 100%;
              .btn-submit {
                width: 100%;
                height: 100%;
                background: none;
                font-size: 1.75rem;
                font-weight: 700;
                color: inherit;
                border: none;

                @include mx_transition("600ms", "color", $vars_easeOutCubic);

                &:hover, &:focus{
                  color: #FFFFFF;
                  @include mx_transition("200ms", "color", $vars_easeOutCubic);
                }
              }
            }
          }
        }
        .time-txt{
          will-change: transform, opacity;
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          transform: translateY(0);
          transform: translate3d(0,0,0);
          text-align: center;
          pointer-events: none;

          .txt-title{
            width: 100%;
            height: 50%;
            box-sizing: border-box;
            //padding: 3px 0 0;
            @extend %flex-bottom-center;
            span{

              font-size: 0.625rem;
              font-weight: 700;
              line-height: normal;
              color: #FFFFFF;
              padding-bottom: 3px;
            }
          }
          .txt-time{
            width: 100%;
            height: 50%;
            box-sizing: border-box;
            @extend %flex-top-center;
            span{
              font-size: 0.625rem;
              font-weight: 700;
              line-height: normal;
              color: #FF0000;
              padding-top: 3px;
            }

          }
        }
      }


      .ui-loading{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        //border-radius: 50% 50%;
        border: none;
        background: rgba(0,0,0,0.7);
        pointer-events: none;
        opacity: 0;
        @include mx_transition("100ms","opacity", $vars_easeLinear, "0");
        @extend %flex-center;

        .icon-loading{
          font-size: 24px;
          color: #FFFFFF;
          line-height: normal;
          transform: rotate(0);
          @include mx_transition("0","transform", $vars_easeLinear, "0");
        }

        &.#{$vars_class_showIn}{
          opacity: 1;
          pointer-events: auto;

          .icon-loading {
            transform: rotate(-2880deg);
            @include mx_transition("10000ms","transform", $vars_easeLinear, "0");
          }
        }
      }
    }

    .area-timebar{
      position: relative;
      display: none;

      width: 0;
      height: 84px;

      overflow: hidden;

      font-size: 0.75rem;
      font-weight: 700;
      text-align: center;

      will-change: width;

      .bar-wrapper{
        position: absolute;
        background : #292929;
        //width: 128px;
        width: 0;
        height: 6px;
        border-radius: 3px 3px;
        overflow: hidden;
        margin: 39px 20px;
        top:0;

        .bar-cur{
          background : #009494;
          width:0;
          height:100%;
          border-radius: 3px 3px;
          @include mx_transition("1000ms","width, background", $vars_easeInOutCubic, "0");
        }
      }

      .txt-wrapper{
        position: relative;
        width:100%;
        height:50%;
        opacity: 0;
        top:50%;

        @extend %flex-center;

        .limit-time-txt{
          margin: 2px 0 0;
          display: block;
          &.complete{
            display: none;
          }
        }
      }
    }

    .area-name{
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 0;
      left:0;
      transform: translateY(-52px);
      opacity: 0;
      @include mx_transition("600ms", "opacity, transform", $vars_easeOutCubic, "1000ms");

      .name-wrapper {
        font-size: 0.75rem;
        font-weight: 700;
        text-align: center;
        height: 42px;
        transform: translateY(-100%);
        @include mx_transition("1000ms", "transform", $vars_easeInOutCubic, "200ms");

        @extend %flex-center;
      }
    }

    &.checked {
      .area-check-inout.area-checkin {
        .btn-wrapper {
          @include mx_transition("800ms", "background", $vars_easeInOutCubic, "600ms");
          background: #161616;

          form {
            @include mx_transition("800ms, 800ms", "opacity, transform", $vars_easeInOutCubic, "600ms, 600ms");
            opacity: 0;
            transform: translateY(-100%);
            transform: translate3d(0, -100%, 0);

            input {
              pointer-events: none;
            }
          }
          .time-txt {
            -webkit-mask-image: -webkit-radial-gradient(white, black);
            @include mx_transition("800ms", "transform", $vars_easeInOutCubic, "800ms");
            transform: translateY(-100%);
            transform: translate3d(0, -100%, 0);
            will-change: auto;
          }
        }
      }

      .area-check-inout.area-checkout {
        @include mx_transition("600ms, 800ms, 800ms", "width, opacity, transform", $vars_easeInOutCubic, "0ms, 300ms, 300ms");
        width: 84px;
        opacity: 1;
        transform: scale(1);
      }

      .area-timebar {

        @include mx_transition("600ms", "width", $vars_easeInOutCubic, "0ms");
        width: 168px;

        .bar-wrapper {
          @include mx_transition("600ms", "width", $vars_easeInOutCubic, "0ms");
          width: 128px;
        }
        .txt-wrapper {
          @include mx_transition("800ms", "opacity", $vars_easeInOutCubic, "500ms");
          opacity: 1;
        }
      }

      .area-name{
        .name-wrapper {
          transform: translateY(0);
        }
      }
    }
    &.checkedout {
      .area-check-inout.area-checkout {
        .btn-wrapper {
          @include mx_transition("800ms", "background", $vars_easeInOutCubic, "0");
          background: #161616;

          form {
            @include mx_transition("800ms, 800ms", "opacity, transform", $vars_easeInOutCubic, "0, 0");
            opacity: 0;
            transform: translateY(-100%);
            transform: translate3d(0, -100%, 0);

            input {
              pointer-events: none;
            }
          }
          .time-txt {
            pointer-events: auto;
            -webkit-mask-image: -webkit-radial-gradient(white, black);
            @include mx_transition("800ms", "transform", $vars_easeInOutCubic, "200ms");
            transform: translateY(-100%);
            transform: translate3d(0, -100%, 0);
            will-change: auto;
          }
        }
      }
      .area-timebar {
        .bar-wrapper {
          .bar-cur {
            background: #FFFFFF;
            width: 100% !important;
          }
        }
        .txt-wrapper{

          .limit-time-txt{
            display: none;
            &.complete{
              display: block;
            }
          }
        }
      }
    }
  }

  &.loading{
    input {
      pointer-events: none;
    }
  }

  &.logged {

    input {
      pointer-events: auto;
    }

    .wrapper-login {
      display: none;
    }

    .wrapper-checkin{
      &.#{ $vars_class_showIn } {
        opacity: 1;
        width: 100%;

        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        .area-check-inout{
          display: block;
        }
        .area-timebar{
          display: block;
        }

        .area-name {
          transform: translateY(-42px);
          opacity: 1;
        }
      }
    }
  }

}